<footer class="footer">
  <small>
    <a href="#">This is a demo App</a>
    by <a href="#">Nikin Chitrakar</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      
    </ul>
  </nav>
</footer>